<!-- templates/login.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Log In</title>
    {% comment %} <link rel="stylesheet" href="{% static 'css/styles.css' %}"> {% endcomment %}
</head>
<body>
    <h2>Log In</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Log In</button>
    </form>
    <p>Don't have an account? <a href="{% url 'signup' %}">Sign Up</a></p>
    {% comment %} <script src="{% static 'js/scripts.js' %}"></script> {% endcomment %}
</body>
</html>
