<!-- templates/password_reset.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}  <!-- Add this line to load static files -->

    <meta charset="UTF-8">
    <title>Password Reset</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li class="{{ message.tags }}">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <h2>Password Reset</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Reset Password</button>
    </form>
    <a href="{% url 'login' %}">Back to Log In</a>
    <script src="{% static 'js/scripts.js' %}"></script>
</body>
</html>
